footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  padding: 50px 0px 10px 0px;
	width: 100%;
}

.footerContent > .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20vw;
}

.footerContent > .about > p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.712);
  margin: 10px;
}

.footerLink {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.footerLink .links h2 {
  margin: 20px 0px;
}

.footerLink .moreLinks h2 {
  margin: 20px 0px;
}

.footerLink .contact h2 {
  margin: 20px 0px;
}

.footerLink .links ul li {
  list-style: none;
  margin: 5px 0px;
}

.footerLink .links ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-weight: 500;
  font-size: 15px;
  transition: color 500ms;
  transition: opacity 500ms;
}

.footerLink .links ul li a:hover {
  color: #ff5622;
  opacity: 1;
}

.footerLink .moreLinks ul li {
  list-style: none;
  margin: 5px 0px;
}

.footerLink .moreLinks ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-weight: 500;
  font-size: 15px;
  transition: color 500ms;
  transition: opacity 500ms;
}

.footerLink .moreLinks ul li a:hover {
  color: #ff5622;
  opacity: 1;
}

.footerLink .contact p {
  color: black;
  opacity: 0.7;
  font-weight: 500;
}

.footerHead{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: auto;
}

.contact{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.copyright{
	font-size: 15px;
	margin-top: 20px;
}


@media (max-width: 800px) {
	.footerLink{
		display: flex;
		flex-direction: column;
	}

	.footerLink .links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.footerLink .moreLinks {
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.footerLink .contact {
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.footerLink .links ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.footerLink .moreLinks ul {
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
}