* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: gilroy;
  }
  
  html {
    font-family: gilroy;
    font-size: 20px;
    scroll-padding-top: 20px;
  }
  
  body {
    background-color: #deebf6;
    overflow-x: hidden;
    overflow-y:auto;
  }
  
  /* HEADER */
  
  header {
    position:absolute;
    width: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  #header-img {
    width: 50px;
    height: auto;
    margin: 10px;
  }
  
  #header-title {
    margin-right: 10px;
    display: inline-block;

  }
  
  #nav-bar {
    display: flex;
    flex-direction: row;
    max-width: 125vw;
    max-height: 150px;
    background-color: rgb(255, 235, 20);
    justify-content:space-around;
    align-items:center;
    width: 100%;
  }
  
  #nav-bar > ul {
    display: flex;
    flex-direction: row;
    justify-self: right;
    max-width: 600px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-family: gilroy;
  }
  
  #nav-bar > ul > li {
    list-style: none;
    margin-right: 10px;
  }
  
  #nav-bar > ul > li > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  
  /* MAIN */
  
  main {
    width: 90%;
    padding-top: 100px;
    margin: 0 auto;
  }
  
 
  
  h1 {
    text-align: center;
  }
  
  h1 + p {
    text-align: center;
  }
  
  blockquote > hr {
    width: 100%;
    margin: 20px 0;
  }
  
  author {
    float: right;
  }
  
  .info > p {
    text-align: justify;
    margin-top: 10px;
  }
  
  h2 {
    margin: 20px auto;
    text-align: center;
  }
  
  #latest-arrivals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #latest-arrivals > h2 {
    width: 100%;
    margin-top: 25px;
  }
  
  .book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 10px;
    float: bottom;
  }
  
  
  .book-des {
    margin: 10px;
    flex-direction: column;
    padding: 10px 20px 35px;
  }
  
  #latest-arrivals > .book > img  {
    max-width: 200px;
    width: 80%;
    height:min-content ;
  }
  
  footer {
    background-color: rgb(196, 0, 0);
    width: 100vw;
    padding: 20px 35px 25px ;
    text-align: center;
    margin-top: 10px;
    font-size: small;
  }
  
  footer p {
    margin-bottom: 5px;
  }
  
  @media (min-width: 1500px) {
    body {
      font-size: 0.5rem;
      flex-direction: column;
    }
  }
  
  @media (max-width: 800px) {
    #nav-bar {
      flex-direction: column;
    }
  
    main {
      padding-top: 100px;
    }
  }
  
  @media (max-width: 500px) {
    #nav-var > ul {
      flex-direction: column;
    }
    main {
      padding-top: 10px;
    }
    #header {
      position: unset;
    }
  }