@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --green: #4CAF50;
    --white-color: #fff;
    --black-color: #333;
    --light-color: rgba(0, 0, 0, 0.3);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    transition: .4s linear;
}

html {
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 7.5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--black-color);
    border-radius: 5rem;
}

body {
    background-color: #eee;
}
body.active{
    --white-color: #111;
    --black-color: #fff;
    --light-color: rgba(255, 255, 255, 0.3);
    background: #222;
}

section{
    padding: 1rem 9%;

}
.btn{
    display: inline-block;
    margin-top: 1rem ;
    border-radius: 5rem;
    background: var(--black-color);
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: bolder;
    text-decoration: none;
    padding: 3rem 6rem ;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--green);
    color: #fff;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--light-color);
    padding: 1.5rem 9%;
}

header .logo {
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--black-color);
    font-size: 3rem;
    display: flex;
    align-items: center;
}
header .logo img{
    width: 4rem;
    margin: 0 1rem;
    border-radius: 10%;
}

header .logo span {
    color: var(--green);
}

header form {
    display: flex;
    align-items: center;
    width: 40rem;
    border-radius: 5rem;
    height: 5rem;
    background: var(--black-color);
    overflow: hidden;
}

header form input {
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.8rem;
    color: var(--white-color);
    padding: 0 2rem;
    text-transform: none;
    border: none;
}

header form label {
    font-size: 2rem;
    padding-right: 2rem;
    color: var(--white-color);
    cursor: pointer;
}

header form label:hover {
    color: var(--green);
}

header .icons div,
header .icons a {
    height: 4rem;
    width: 4rem;
    font-size: 1.7rem;
    line-height: 4rem;
    background: var(--black-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    margin-right: 0.7rem;
}

header .icons div:hover,
header .icons a:hover {
    background: var(--green);
    color: #fff;
    transform: rotate(360deg);
}

header.active{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--white-color);
}

/* navbar section */
.navbar{
    position: fixed;
    top: 0;
    left: -120%;
    height: 100%;
    background: var(--white-color);
    padding: 3rem;
    width: 30rem;
    z-index: 101;
}

.navbar.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.navbar .user{
    text-align: center;
    margin: 3rem auto;
}
.navbar .user img{
    width: 15rem;
    border-radius: 50%;
    border: 0.5rem solid var(--white-color);
    object-fit: cover;
    box-shadow: 5rem 2rem 0 -3rem var(--green),
    -5rem -2rem 0 -3rem var(--green),
    0 0.5rem 1rem rgba(0, 0, 0, 0.3);

}
.navbar .user h3{
    padding-top: 0.8rem;
    color: var(--black-color);
    font-weight: 500;
    font-size: 2rem;

}
.navbar .links a{
    display: block;
    border-bottom: 0.2rem solid var(--light-color);
    font-size: 2rem;
    padding: 1.5rem 0;
    color: var(--black-color);
    text-decoration: none;
}
.navbar .links a:last-child{
    border: none;
}
.navbar .links a:hover{
    letter-spacing: 0.2rem;
    color: var(--green);
}
.navbar #close{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    color: var(--black-color);
}
.navbar #close:hover{
    color: var(--green);
}
.home{
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
}
.home .content{
    flex: 1 1 40rem;
}
.home .image{
    flex: 1 1 40rem;
    text-align: center;
}
.home .image img{
    width: 40vw;
}
.home .content span{
    color: var(--green);
    font-size: 4rem;
}
.home .content h3{
    color: var(--black-color);
    font-size: 8rem;
    text-transform: uppercase;
}
.heading{
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid var(--light-color);
    font-size: 3rem;
    color: var(--black-color);
    text-transform: uppercase;
}
.heading span{
    color: var(--green);
    text-transform: uppercase;
}
.category .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.category .box-container .box{
    height: 30rem;
    flex: 1 1 40rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}
.category .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category .box-container .box img:hover{
    transform: scale(1.1);
}
.category .box-container .content{
    position: absolute;
    bottom: 7rem;
    left: 2rem;
}
.category .box-container .content span{
   
    font-size: 3rem;
    color: var(--green);
}
.category .box-container .content h3{
   
    font-size: 3.3rem;
    color: #3337;
    text-transform: uppercase;
    padding-top: 0.5rem;
}
.products .product-slider .slide{
    overflow: hidden;
    position: relative;
    border: 0.1rem solid var(--light-color);
    border-radius: 0.5rem;
    background-color: var(--white-color
    );

}
.products .product-slider .slide .image{
    padding: 1rem;
}
.products .product-slider .slide .image img{
    height: 50rem;
    width: 100%;
    object-fit: cover;
}
.products .product-slider .slide .content{
    padding: 1rem;
    border-top: 0.1rem solid var(--light-color);
}
.products .product-slider .slide .icons{
    position: absolute;
    top: 0;
    right: -7rem;
}
.products .product-slider .slide:hover .icons{
    right: 1rem;
}
.products .product-slider .slide .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;
    background: var(--black-color);
    color: var(--white-color);
    margin-top: 1rem;
    display: block;
}
.products .product-slider .slide .icons a:hover{
    background: var(--green);
    color: #fff;
}
.products .product-slider .slide .content .stars {
    font-size: 2rem;
    color: orange;
}
.products .product-slider .slide .content .stars span {
    font-size: 2rem;
    color: var(--black-color);
    font-weight: 400;
}
.products .product-slider .slide .content h3{
    columns: var(--black-color);
    font-weight: normal;
    font-size: 2.5rem;
    padding: 5rem 0;
}
.products .product-slider .slide .content .price{
    color: var(--green);
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 5rem 0;
}
.products .product-slider .slide .content .price span{
    color: var(--black-color);
    font-weight: normal;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    text-decoration: line-through;

}
.products .product-slider .swiper-button-prev,
.products .product-slider .swiper-button-next{
    color: black;
}
.products .gap{
    margin-bottom: 2rem;
}

.review .review-slider .slide{
    background: var(--white-color);
    border-radius: 0.5rem;
    border: 1rem solid var(--light-color);
    padding: 2rem;
}
.review .review-slider .slide .stars{
    padding: 1rem 0;
    color: orange;
}
.review .review-slider .slide p{
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 1rem 0;
}
.review .review-slider .slide .user{
    padding-top: 5rem;
    display: flex;
    align-items: center;
}
.review .review-slider .slide .user img{
    margin-right: 1.5rem;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .review-slider .slide .user h3{
    color: var(--black-color);
    font-size: 2.5rem;
}
.review .review-slider .slide .user span{
    color: var(--light-color);
    font-size: 1.7rem;

}
.footer .footer-container{
    background: var(--white-color);
    border: 1rem solid var(--light-color);
    border-radius: 0.4rem;
    padding: 2rem;
}

.footer .footer-container .box-container{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
    gap: 1.5rem;

}
.footer .footer-container .box-container .box{
    flex: 1 1 25rem;
}
.footer .footer-container .box-container .box h3{
    color: var(--green);
    font-size: 2.5rem;
    padding: 1rem 0;
}
.footer .footer-container .box-container .box a{
    display: block;
    color: var(--black-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    text-decoration: none;
}
.footer .footer-container .box-container .box a:hover{
    color: var(--green);
}
.footer .footer-container .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: .1rem solid var(--light-color);
    color: var(--black-color);
    text-align: center;
}

.footer .footer-container .credit span{
    color: var(--green);
}






/* media queries */
@media (max-width:990px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1.5rem;
    }
    section{
        padding: 1.5rem;
    }
    .home .content h3{
        font-size: 5rem;
    }

}

@media (max-width:768px) {

    header {
        flex-flow: column;
    }
    header form{
        width: 100%;
        margin: 2rem 0;
    }
    header.active{
        transform: translateY(-12.5rem);
    }
    .home .image img {
        width: 100%;
    }
    .home .content{
        text-align: center;
    }

}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 1.5rem;
    }
    .heading{
        text-align: center;
        font-size: 2.5rem;
        border-bottom: none;
    }

}